# =============== #
# Unity generated #
# =============== #
GameJam_At0/[Tt]emp/
GameJam_At0/[Oo]bj/
GameJam_At0/[Bb]uild
GameJam_At0/[Bb]uilds/
GameJam_At0/[Ll]ibrary/
sysinfo.txt
*.stackdump
GameJam_At0/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
GameJam_At0/.DS_Store*
GameJam_At0/._*
GameJam_At0/.Spotlight-V100
GameJam_At0/.Trashes
Icon?
ehthumbs.db
GameJam_At0/[Tt]humbs.db
GameJam_At0/[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/